@import "tailwindcss";

@theme {
  --color-brand-green: #14532D;
  --color-brand-green-dark: #0E2F1A;
  --color-brand-green-light: #15803D;
  --color-brand-orange: #F59E0B;
  --color-brand-orange-dark: #D97706;
  --color-brand-gray: #F9FAFB;
  --color-brand-accent: #374151;
}
